:root{
--brown: #B3AAA0;
--brown2: #A19A90;
--green: #89937C;
--gray1: #C9C1B6;
--gray2: #4A4A4A;
--snow: #FFFCF7;
--main-font: 'Raleway', sans-serif;
--sub_font: 'Open Sans', sans-serif;
}

html {
  font-size: 14pt;
  width: 100%;
}

h1 {font-size: 3.5rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.6rem;}
p {font-size: 1rem; color: var(--gray2);}

body {
  background-image: url("cacti.png");
  background-size: cover;
  font-family: var(--main-font);
  font-weight: 300;
  color: var(--green);
}

/* Homepage Title */

h1{
  font-weight: 100;
}

.title {
  text-align: center;
  padding: 20% 10% 0 10%;
}

/* NAV BAR STYLES */

.navbar{
  background-color: var(--green);
  font-family: var(--main-font);
  padding: .2rem 2rem;
  text-align: center;
}
li{
  margin-left: 1rem;
  margin-right: 1rem;
}
li,a {
  margin-bottom: none;
}
.nav-link{
  color: var(--gray2);
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 0;
  margin-bottom: .3rem;
}
li.active a{
  color: var(--gray1);
}
.nav-link:hover{
  color: var(--gray1);
}

.navbar-toggler{
  border: 1px solid var(--gray2);
  stroke: var(--gray2);
}


button:focus {
  outline: none;
}
button:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
/* HAMBURGER BAR STYLES */
.container {
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
}

.bar{
    width: 1.2rem;
    height: 2px;
    border-radius: 5px;
    background-color: var(--gray2);
    margin: 6px 0;
}

/* HOMEPAGE NAVBAR ADJUSTMENTS */

#homenav{
  border-bottom: none;
  box-shadow: none;
  padding-bottom: .5rem;
}

/* Underline From Center */

#hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
#hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: var(--gray1);
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#hvr-underline-from-center:hover:before, #hvr-underline-from-center:focus:before, #hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Body background color excludes the homepage */

.layer {
  /* background-color: #F4F1DE; */
  padding: 25px 30px 0 30px;
  box-shadow: 0 0 75px #C4BBAF;
  height: 100%;
}

/* Styles for about page */

#about{
  padding: 3% 5%;
}

#info {
  padding-left: 5%;
  padding-bottom: 2%;
}

#info h3 {
  padding-left: 1rem;
  padding-top: 2rem;
}

#info p{
  text-align: left;
  padding: 1rem;
}

/* Float */

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Styles for work page */

#work {
  padding-top: 8%;
}

#work .col-lg-6, .col-lg-12{
  text-align: center;
  padding-top: 2%;
}
#work a{
  color: var(--green);
  text-decoration: none;
}

#work i {
  color: var(--brown);
  align-items: center;
  padding-bottom: 1%;
}

#work i:hover {
  color: var(--brown2);
}

#work p{
  padding: 0 25%;
}

/* styles for work subpages */

#crop {
  padding-bottom: 2%;
  align-items: center;
}

#crop img {
margin-left: 15%;
box-shadow: 0 0 10px var(--brown2);
border-radius: 3px;
opacity: 0.8;
}

#crop img:hover{
  opacity: 1;
}

#crop figcaption{
  text-align: center;
  padding-top: 3%;
}

/* styles for Resume Page*/

#resume object {
  height: 1000px;
}
/* styles for Contact Page*/

#contact label{
  color: var(--gray2);
  font-weight: 100;
}

#contact ::placeholder{
  color: var(--brown2);
  font-family: var(--sub_font);
  font-weight: 300;
}

#contact .form-control {
  background-color: #DEDCCA;
  border: 1px solid var(--brown2);
  color: var(--brown);
}

#contact .form-control:focus {
  box-shadow: inset 0 1px 1px rgba(196,187,175,.075),0 0 8px rgba(196,187,175,.6);
  border: 1px solid rgba(196,187,175,.7);
}

#contact .btn-primary {
  color: var(--brown);
  background-color: var(--green);
  border-color: var(--green);
  margin-top: 5%;
}

#contact .btn-primary:hover {
  color: var(--green);
  background-color: var(--brown);
  border-color: var(--brown);
}

#contact .formcol{
  padding-top: 8%;
  padding-bottom: 4%;
}

#contact #social {
  padding: 5% 0 10% 0;
  text-align: center;
}

#contact #social p {
  text-align: left;
  padding: 2% 5% 0 5%;
}

#contact #social a {
  color: rgba(137,147,124,1);
  padding: 5% 1% 0 1%;
}

#contact #social a:hover {
  color: rgba(137,147,124,.5);
}

/* Styles for footer */

footer {
  background-color: var(--green);
  padding: 1rem 0;
  text-align: center;
  margin: 0;
}

/* Media Queries */
@media screen and (min-width: 400px) {
  html {font-size: 13px;}
  .title {padding-top: 3%; margin: 18% 0 10% 0;}
  #navigation li{float: left; padding: 0 6% 0 3%;}
  h1{font-size: 6rem;}
}

@media screen and (min-width: 768px) {
  html {font-size: 14px;}
  .title {padding-top: 15%; margin: 0 auto;  margin: -1% 0 10% 0; padding-bottom: 4%;}
  #navigation li{text-align: center; padding: 0 5% 0 3%;}
  h1{font-size: 8rem;}
  #about .row { margin: 0 auto; padding-left: 7%; padding-bottom: 5%; padding-top: 5%;}
  #info h2 { padding: 0; }
  #info p{ padding: 1% 15% 3% 0;}
  footer { padding: 2% 0;}
  footer p{ font-size: 1.5rem;}
}
