h1 {
  font-size: 20px;
  font-family:  'Open Sans', sans-serif;
  display: inline;
  float: left;
  padding-left: 400px;
  padding-top: 50px;
}

h2 {
  font-size: 25px;
  font-family: 'Yellowtail', cursive;
  display: inline;
  float: right;
  padding-right: 720px;
  padding-top: 39px;

}
